@charset"UTF-8";

.pad{
    padding: 10px;
    border-top: 1px solid #ccc;
}
/*价格样式*/
.lt_product_price .price{
    color: red;
}
.lt_product_price .oldPrice{
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
}
/*尺码样式*/
.lt_product_size span{
    border:1px solid #ccc;
    line-height: 30px;
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 5px;
    margin: 5px;
}











/*购物车栏样式*/
.lt_go_cat{
    height: 55px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    padding: 10px;
}
.lt_go_cat a{
    display: inline-block;
    margin-top: 12px;
}
/*动态详情样式*/
.lt_go_cat {
    border-top: 1px solid red;
}

/*动态尺码样式*/
.lt_product_size span.active{
    background-color: #069;
}





















