@charset"UTF-8";


.pdg{
    padding-right: 10px;
    padding-left: 10px;
}
/*主体的搜索框-------------------------------*/
.lt_search{
    padding: 10px;
    margin-bottom: 15px;
}
.lt_search input{
    background-color: white;
    border:1px solid #007aff;
    margin: 0;
    text-align: left;
}
.lt_search .search_btn{
   position: absolute;
    top: 9px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}
/*历史记录的标题------------------------------------*/
.lt_title span {
    font-size: 12px;
    color: #666;
}

/*真正的历史记录------------------------------------*/
.history_content{
    padding: 10px;
}
.history_content ul li{
    border: 1px dashed red;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 12px;
}
.history_content a{
    float: left;
}
.history_content span{
    float: right;
    color: #666;
}















